@import "./src/Components/header/Header.module.scss";



.searchBtn{
@include button;
}

.searchBar{
    --pico-background-color: #{$primaryColor};
    --pico-primary-background:#{$utilityColor};
    --pico-form-element-active-border-color:#{$utilityColor};
    --pico-border-color: #{$utilityColor};
    --pico-form-element-focus-color: #{$utilityColor};
    color: #{$primaryColor};
}

.container{
    margin-top: 1%;
    --pico-form-element-placeholder-color:#{$utilityColor};
    --pico-secondary:#{$utilityColor};
    left: 2%;
    margin-right: 2em;
}
.container:active{
    margin-right: 2em;
}



