$primaryColor: #5F8D4E;
$secondaryColor: #88AB8E;
$utilityColor: #285430;

.searchBtn{
--pico-primary:#{$utilityColor};
--pico-primary-background: #{$primaryColor};
--pico-primary-border: #{$utilityColor};
--pico-primary-hover:#{$primaryColor};
--pico-primary-hover-border:#{$utilityColor};
--pico-primary-hover-background:#{$secondaryColor};
--pico-primary-inverse:#{$utilityColor};
}

.searchBar{
    --pico-background-color: #{$primaryColor};
    --pico-primary-background:#{$utilityColor};
    --pico-form-element-active-border-color:#{$utilityColor};
    --pico-border-color: #{$utilityColor};
    --pico-form-element-focus-color: #{$utilityColor};
    color: #{$primaryColor};
}

.container{
    margin-top: 1%;
    display: flex;
    --pico-form-element-placeholder-color:#{$utilityColor};
    --pico-secondary:#{$utilityColor};
}

